.text-overflow {
	overflow: hidden;
	margin-right: 60px;
}

.action {
	margin-right: 10px;
}

.done-action {
	color: green;
}

.delete-action {
	color: red;
}

.loadingImage {
	display: block;
	margin: auto;
	height: 50%;
	width: 50%;
}

.no-tasks img {
	display: block;
	margin: auto;
	height: 50%;
	width: 50%;
}

.no-tasks p {
	display: block;
	margin: auto;
	text-align: center;
}